
@{
    ViewBag.Title = "AddEmployee";
}

<h2>AddEmployee</h2>

<div>
    <a href="/Employees/Create">
        <h3 class="title" style=""> Add Employee</h3>
    </a>
</div>

<div>
    <a href="/EmployeeTechnicalDetails/Create">
        <h3 class="title" style=""> Add Technical Details</h3>
    </a>
</div>

<div>
    <a href="/Documents_BankDetails/Create">
        <h3 class="title" style=""> Add Document And BankDetails</h3>
    </a>
</div>