@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Promt Softech<br />
    Empire Buisness Hub, WA 74058-58920<br />
    Maurya Times Square, 12 SF, Science City Rd, opp. R K Royal Hall <br />
    Sola, Ahmedabad, Gujarat 380061
</address>

